.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore Mac DS_Store files; they are unique to user and can conflict with collaborator's settings. 
.DS_Store
**/.DS_Store
._.DS_Store
/.DS_Store

# Ignore datasets & figures; they will congest GitHub Repo.
data/
data output/
figures/

